# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# ===============================
# Virtual Environments
# ===============================
venv/
.venv/
env/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs / Temp
# ===============================
*.log
*.tmp

# ===============================
# Environment Files
# ===============================
.env

# ===============================
# Dataset Files
# ===============================
data/
*.csv

# ===============================
# Build Files
# ===============================
build/
dist/